USE [master]
GO
/****** Object:  Database [PoloNuevo]    Script Date: 01/02/2026 0:59:27 ******/
CREATE DATABASE [PoloNuevo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoloNuevo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PoloNuevo.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PoloNuevo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PoloNuevo_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoloNuevo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoloNuevo]
GO
USE [PoloNuevo]
GO
/****** Object:  Table [dbo].[AuditoriaDocumentos]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaDocumentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaEliminacion] [datetime] NULL,
	[UsuarioResponsable] [nvarchar](100) NULL,
	[MotivoEliminacion] [nvarchar](255) NULL,
	[DocIdOriginal] [int] NULL,
	[DocReferencia] [nvarchar](100) NULL,
	[DocAsunto] [nvarchar](max) NULL,
	[DocFechaCarga] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaMovimientos]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaMovimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuditoriaDocId] [int] NOT NULL,
	[FechaMovimientoOriginal] [datetime] NULL,
	[Origen] [nvarchar](100) NULL,
	[Destino] [nvarchar](100) NULL,
	[TipoMovimiento] [nvarchar](50) NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comunicados]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comunicados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Asunto] [nvarchar](max) NULL,
	[Destino] [nvarchar](max) NULL,
	[Directivas] [nvarchar](max) NULL,
	[Numero] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumentoId] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Contenido] [varbinary](max) NOT NULL,
	[NombreArchivo] [nvarchar](250) NULL,
	[Extension] [nvarchar](10) NULL,
	[FechaCarga] [datetime] NULL,
	[ReferenciaExterna] [nvarchar](100) NULL,
	[FechaVencimiento] [datetime] NULL,
	[DocumentoPadreId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentoVinculos]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentoVinculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDocumentoPadre] [int] NOT NULL,
	[IdDocumentoHijo] [int] NOT NULL,
	[TipoRelacion] [varchar](50) NULL,
	[FechaVinculo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventosSistema]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventosSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[UsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotivosAusencia]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivosAusencia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosDocumentos]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosDocumentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentoId] [int] NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[Origen] [nvarchar](max) NULL,
	[Destino] [nvarchar](max) NULL,
	[EsSalida] [bit] NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumeracionRangos]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumeracionRangos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumentoId] [int] NOT NULL,
	[NombreRango] [nvarchar](50) NULL,
	[NumeroInicio] [int] NOT NULL,
	[NumeroFin] [int] NOT NULL,
	[UltimoUtilizado] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDocumento]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/02/2026 0:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](256) NOT NULL,
	[Rol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documentos_Fecha]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_Fecha] ON [dbo].[Documentos]
(
	[FechaCarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documentos_Referencia_Include]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_Referencia_Include] ON [dbo].[Documentos]
(
	[ReferenciaExterna] ASC
)
INCLUDE([TipoDocumentoId],[Descripcion],[FechaCarga]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documentos_TipoDoc]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_TipoDoc] ON [dbo].[Documentos]
(
	[TipoDocumentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vinculos_Hijo]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Vinculos_Hijo] ON [dbo].[DocumentoVinculos]
(
	[IdDocumentoHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vinculos_Padre]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Vinculos_Padre] ON [dbo].[DocumentoVinculos]
(
	[IdDocumentoPadre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vinculos_Relacion]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Vinculos_Relacion] ON [dbo].[DocumentoVinculos]
(
	[IdDocumentoPadre] ASC,
	[IdDocumentoHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimientos_DocFecha_Include]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Movimientos_DocFecha_Include] ON [dbo].[MovimientosDocumentos]
(
	[DocumentoId] ASC,
	[FechaMovimiento] DESC
)
INCLUDE([Destino],[Origen],[EsSalida],[Observaciones]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimientos_FechaGlobal_Include]    Script Date: 01/02/2026 0:59:27 ******/
CREATE NONCLUSTERED INDEX [IX_Movimientos_FechaGlobal_Include] ON [dbo].[MovimientosDocumentos]
(
	[FechaMovimiento] DESC
)
INCLUDE([DocumentoId],[Destino],[EsSalida]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditoriaDocumentos] ADD  DEFAULT (getdate()) FOR [FechaEliminacion]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[DocumentoVinculos] ADD  DEFAULT ('VINCULO') FOR [TipoRelacion]
GO
ALTER TABLE [dbo].[DocumentoVinculos] ADD  DEFAULT (getdate()) FOR [FechaVinculo]
GO
ALTER TABLE [dbo].[EventosSistema] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[NumeracionRangos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Operador') FOR [Rol]
GO
ALTER TABLE [dbo].[AuditoriaMovimientos]  WITH CHECK ADD FOREIGN KEY([AuditoriaDocId])
REFERENCES [dbo].[AuditoriaDocumentos] ([Id])
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Padre] FOREIGN KEY([DocumentoPadreId])
REFERENCES [dbo].[Documentos] ([Id])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_Padre]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Tipos] FOREIGN KEY([TipoDocumentoId])
REFERENCES [dbo].[TiposDocumento] ([Id])
GO
ALTER TABLE [dbo].[Documentos] CHECK CONSTRAINT [FK_Documentos_Tipos]
GO
ALTER TABLE [dbo].[DocumentoVinculos]  WITH CHECK ADD  CONSTRAINT [FK_Hijo] FOREIGN KEY([IdDocumentoHijo])
REFERENCES [dbo].[Documentos] ([Id])
GO
ALTER TABLE [dbo].[DocumentoVinculos] CHECK CONSTRAINT [FK_Hijo]
GO
ALTER TABLE [dbo].[DocumentoVinculos]  WITH CHECK ADD  CONSTRAINT [FK_Padre] FOREIGN KEY([IdDocumentoPadre])
REFERENCES [dbo].[Documentos] ([Id])
GO
ALTER TABLE [dbo].[DocumentoVinculos] CHECK CONSTRAINT [FK_Padre]
GO
ALTER TABLE [dbo].[EventosSistema]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[EventosSistema] CHECK CONSTRAINT [FK_Eventos_Usuarios]
GO
ALTER TABLE [dbo].[MovimientosDocumentos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Documentos] FOREIGN KEY([DocumentoId])
REFERENCES [dbo].[Documentos] ([Id])
GO
ALTER TABLE [dbo].[MovimientosDocumentos] CHECK CONSTRAINT [FK_Movimientos_Documentos]
GO
ALTER TABLE [dbo].[NumeracionRangos]  WITH CHECK ADD FOREIGN KEY([TipoDocumentoId])
REFERENCES [dbo].[TiposDocumento] ([Id])
GO
USE [master]
GO
